:root {
    --wid: 79px;
    --hig: 79px;
    --num: 9;
    --mar: -60px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skin {
    width: 300px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skinimage {
    position: absolute;
    content: url("/images/skin.png");
    width: 520px;
    height: 410px;
}

.slots {

    height: calc(3*var(--hig));
    display: flex;
    justify-content: center;
    gap: 16px;
}

.slots>.reel {
    
    width: calc(var(--wid));
    height: calc(3*var(--hig));
    background-image: url("/images/slotreel.webp");
    background-repeat: repeat-y;
    background-position-y: 0px;
}

.shadow {
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(189,189,189,0) 45%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 55%, rgba(0,0,0,1) 100%);
    opacity: 0.7;
}

.nb {
    animation: blinking .2s;
}

span {
    margin: 15px;
    z-index: 1;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@keyframes blinking {
    0% {
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(189,189,189,0) 25%, rgb(255, 255, 255) 50%, rgba(255,255,255,0) 75%, rgba(0,0,0,0) 100%);
    }
    100% {
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(189,189,189,0) 25%, rgba(255,248,0,1) 50%, rgba(255,255,255,0) 75%, rgba(0,0,0,0) 100%);
    }
}
